

# Project exclude paths
/node_modules/
/vendor/composer/
/vendor/dnoegel/php-xdg-base-dir/
/vendor/doctrine/inflector/
/vendor/doctrine/instantiator/
/vendor/doctrine/lexer/
/vendor/dragonmantank/cron-expression/
/vendor/egulias/email-validator/
/vendor/facade/flare-client-php/
/vendor/facade/ignition/
/vendor/facade/ignition-contracts/
/vendor/fideloper/proxy/
/vendor/filp/whoops/
/vendor/fzaninotto/faker/
/vendor/guzzlehttp/psr7/
/vendor/hamcrest/hamcrest-php/
/vendor/intervention/image/
/vendor/laravel/framework/
/vendor/laravel/tinker/
/vendor/laravel/ui/
/vendor/league/commonmark/
/vendor/league/flysystem/
/vendor/league/mime-type-detection/
/vendor/mockery/mockery/
/vendor/monolog/monolog/
/vendor/myclabs/deep-copy/
/vendor/nesbot/carbon/
/vendor/nikic/php-parser/
/vendor/nunomaduro/collision/
/vendor/opis/closure/
/vendor/paragonie/random_compat/
/vendor/phar-io/manifest/
/vendor/phar-io/version/
/vendor/php-parallel-lint/php-console-color/
/vendor/php-parallel-lint/php-console-highlighter/
/vendor/phpdocumentor/reflection-common/
/vendor/phpdocumentor/reflection-docblock/
/vendor/phpdocumentor/type-resolver/
/vendor/phpoption/phpoption/
/vendor/phpspec/prophecy/
/vendor/phpunit/php-code-coverage/
/vendor/phpunit/php-file-iterator/
/vendor/phpunit/php-text-template/
/vendor/phpunit/php-timer/
/vendor/phpunit/php-token-stream/
/vendor/phpunit/phpunit/
/vendor/psr/container/
/vendor/psr/http-factory/
/vendor/psr/http-message/
/vendor/psr/log/
/vendor/psr/simple-cache/
/vendor/psy/psysh/
/vendor/ralouphie/getallheaders/
/vendor/ramsey/uuid/
/vendor/scrivo/highlight.php/
/vendor/sebastian/code-unit-reverse-lookup/
/vendor/sebastian/comparator/
/vendor/sebastian/diff/
/vendor/sebastian/environment/
/vendor/sebastian/exporter/
/vendor/sebastian/global-state/
/vendor/sebastian/object-enumerator/
/vendor/sebastian/object-reflector/
/vendor/sebastian/recursion-context/
/vendor/sebastian/resource-operations/
/vendor/sebastian/type/
/vendor/sebastian/version/
/vendor/swiftmailer/swiftmailer/
/vendor/symfony/console/
/vendor/symfony/css-selector/
/vendor/symfony/debug/
/vendor/symfony/deprecation-contracts/
/vendor/symfony/error-handler/
/vendor/symfony/event-dispatcher/
/vendor/symfony/event-dispatcher-contracts/
/vendor/symfony/finder/
/vendor/symfony/http-client-contracts/
/vendor/symfony/http-foundation/
/vendor/symfony/http-kernel/
/vendor/symfony/mime/
/vendor/symfony/polyfill-ctype/
/vendor/symfony/polyfill-iconv/
/vendor/symfony/polyfill-intl-idn/
/vendor/symfony/polyfill-intl-normalizer/
/vendor/symfony/polyfill-mbstring/
/vendor/symfony/polyfill-php72/
/vendor/symfony/polyfill-php73/
/vendor/symfony/polyfill-php80/
/vendor/symfony/process/
/vendor/symfony/routing/
/vendor/symfony/service-contracts/
/vendor/symfony/translation/
/vendor/symfony/translation-contracts/
/vendor/symfony/var-dumper/
/vendor/theseer/tokenizer/
/vendor/tijsverkoyen/css-to-inline-styles/
/vendor/vlucas/phpdotenv/
/vendor/webmozart/assert/